.pbx-remote {
    &__call-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__call-number {
        width: 100%;
        height: 2.5rem;
        font-size: 1.2rem;
        color: #615e5e;
        text-align: center;
        margin: 0;
        padding: 1px 0;
        line-height: 2.5rem;   
    }

    &__call-duration {
        width: 100%;
        height: 2.5rem;
        font-size: .7rem;
        color: #615e5e;
        text-align: center;
        padding: .6rem;
    }

    &__call-controls-secondary {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    &__call-controls-secondary-btn {
        color: gray;
        border: none;
        background: none;
        cursor: pointer; 
        outline: none;
        padding: .5rem .9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 33.3333%;
        label {
            font-size: 8px;
        }
        &:hover {
            color: rgb(92, 91, 91);
        }
    }

    &__call-controls {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__callend-btn {
        color: #fff;
        text-transform: uppercase;
        background: rgb(231, 18, 18);
        border-radius: 50%;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border: none;
        margin-bottom: .6rem;
        outline: none;
    }
}
