.pbx-remote__home-topbar {
    display: flex;
    justify-content: space-between;
    padding: .7rem;
    align-items: center
}

.pbx-remote__home-topbar span {
    cursor: pointer;
}

.pbx-remote__home-topbar i {
    font-size: 1.2rem;
}

.pbx-remote__home-settings {
    color: gray;
}