$color: rgb(92, 91, 91);
.pbx-remote {
  &__login-form {
    box-sizing: border-box;
    width: 260px;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    padding-bottom: 40px;
    border-radius: 3px;
    h1 {
      box-sizing: border-box;
      padding: 20px;
      height: 60px;
      width: 100%;
      font-size: 20px;
      background: darken($color, 4%);
      color: white;
      line-height: 150%;
      border-radius: 3px 3px 0 0;
      box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
      transition: all 0.3s ease-in-out;
    }
  }

  &__login-input {
    margin: 25px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 18px 0;
    border-bottom: solid 1px $color;
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: darken($color, 20%);
    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      &::-webkit-input-placeholder {
        color: $color;
        font-size: 11px;
        transform: translateY(-20px);
        visibility: visible !important;
      }
    }
  }

  &__login-btn {
    border: none;
    background: $color;
    cursor: pointer;
    border-radius: 3px;
    padding: 12px;
    width: 70%;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  }
}